* {
direction:rtl;
text-align:right;
border:1px solid gray;
}

header  {
    height:105px;
    width:100%;
}

#search-bar {
    width:100px;
    float:left;
    margin-top:20px;
    margin-left:20px;
}