* {
direction:rtl;
text-align:right;
box-sizing: border-box;
margin:0;
padding:0;
}

.clearfix:after {

    content: "";
    display: table;
    clear: both;
  
  }

body {

    font-family:arial;
    font-size:15px;
    font-weight: bold;

}


header  {
    height:105px;
    width:100%;
    background-image:url("images/header_bg.png")
   
    
}

#header-container {
    position:relative;
    width:900px;
    height:100%;
    margin:auto;
    z-index: 10;
}

/*search bar design*/

#search-bar {
    float:left;
    margin-top:20px;
    margin-left:30px;
    
 }

#e1 {

    float:left;
      
}

#search-bar>input {
    float:left;
    border:none;
    padding:2px;
    margin-bottom:2px;
    border-top-right-radius:10px;
    
}

    
  
#search-bar>a {
    font-size:12px;
    text-decoration: none;
    color:white;
    margin-left:10px;
}




/* logo design */

#logo>img {
    position:absolute;
    bottom:-20px;
    right:8px;
    width:142px;
    padding-top:20px;
}




/*navigation design*/


nav {
    position:absolute;
    right:143px;
    height:33px;
    bottom:0;
    

}

nav>ul>li {
    float:right;
    list-style:none;
    border-right:1px rgba(255, 255, 255, 0.493) solid;

}

#home-icon{
    border-style:none;
}  


nav>ul>li>a {
    text-decoration:none;
    color:white;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:20px;
    
}



nav>ul>li>a:hover {

    color:rgba(47, 47, 177, 0.582);
    text-decoration:underline;

}




/*submenu design*/

.menu-item{

    position:relative;
}

.sub-menu {
    
    position:absolute;
    top:33px;
    right:15px;    
    background-color:gray;
    min-width:120px;
    display:none;
    background-image:url("images/menu_dropdown_bg.png");
    background-size:100%;      

}

.sub-menu>ul>li {
   
    list-style:none; 
    
}

.sub-menu>ul>li>a {
    text-decoration:none;
    color:white;
    border-bottom:1px white solid;
    padding:2px;
    padding-right:5px;
    display:block;    
}

.sub-menu>ul>li>a:hover {

    color:rgba(27, 29, 179, 0.582);
    text-decoration:underline;
    background-color:rgb(209, 209, 209);

}

.menu-item:hover .sub-menu {
    display:block;
}








/* main section design*/

.main {
    
    height:590px;
    width:900px;
    margin:auto;    
    margin-top:30px;

}



/*big tiles design*/

#big-tiles {
    width:900px;
    height:355px;
    
}


.big-tile-right {
   
    float:right;
    width:293px;
    height:355px;
    background-color:gray;
    margin-left:9px;
    position:relative;
    border-bottom-right-radius:20px;

}

.big-tile-right:last-child {

    margin-left:0;
}

#gaz-station {

   background-image: url("images/1908364606615453350.JPG");
    

}

#factory {

    background-image:url("images/Picture-046410251500.jpg");
}

#pipes {

    background-image:url("images/פזקר_-291_354410564000.jpg");

}

/* big tiles overlay design */

.overlay {
    width:228px;
    height:77px;
    position:absolute;
    bottom:25px;
    right:5px;
}

.overlay>p {

    position:absolute;
    top:20px;
    right:0;
    color:white;
    font-size:13px;
    font-weight: normal;
    padding:7px;
    

}
.overlay>h4 {

    position:absolute;
    top:7px;
    right:7px;
    color:white;
    font-size:15px;
    font-weight: bold;
}

.overlay>a {

    position:absolute;
    bottom:-15px;
    left:-7px;
    color:white;
    font-size:13px;
    font-weight: normal;
}

.overlay>a:hover {

    color:rgba(47, 47, 177, 0.582);
}


/* little tiles design*/

#little-tiles {
    width:900px;
    height:216px;
    margin-top:20px;
    
}


.little-tile-right {
   
    float:right;
    width:293px;
    height:216px;
    background-color:gray;
    margin-left:9px;
    position:relative;
    border-top-right-radius:20px;
    background: url("images/small_cube_bg.png") no-repeat 0 0;
}

.little-tile-right:last-child {

    margin-left:0;
}




/* little tile overlay design */

.little-overlay {
    width:100%;
    height:100%;
    position:absolute;
    
}

.little-overlay>img {

    display:block;
    padding-top:28px;
    padding-right:20px;
    
    
}
.little-overlay>h4 {
    
    margin-top:7px;
    margin-right:25px;
    color:black;
    font-size:15px;
    font-weight: bold;
}

.little-overlay>a {

    display:block;
    color:black;
    font-size:13px;
    font-weight: normal;
    margin-right:180px;
    margin-top:20px;
    
}

.little-overlay>a:hover {

    color:rgba(47, 47, 177, 0.582);
}


#little-left>img {

float:left;
padding-top:20px;
padding-left:20px;

}

#little-left>h4 {
    margin-top:7px;
    margin-right:25px;
    color:black;
    font-size:15px;
    font-weight: bold;
}

.link-list {
    width:60%;
    height:100%;
    float:right;
    padding-top:20px;
    padding-right:20px;
    
}

.link-list>ul>li {
    padding:5px;
    list-style:none;
    
}

.link-list>ul>li>a {
    
        display:block;
        color:black;
        font-size:13px;
        font-weight: normal;
      
        
}

.link-list>ul>li>a:hover {

    color:rgba(47, 47, 177, 0.582);

}


/*footer design*/

footer {
    position:fixed;
    width:100%;
    height:38px;
    bottom:0;
    background-color: gray;
    background-image: url("images/footer_bg.png");

   
}

.footer-container {

    
    width:900px;
    margin:auto;
    height:100%;
    bottom:0;
    margin-top:10px;

}

footer>ul>li {
    float:right;
    list-style:none;
    border-right:1px solid gainsboro;
}

footer>ul>li>a {
    text-decoration:none;
    color:white;
    font-size:14px;
    font-weight:normal;
    padding:10px;
    
    
}
   
#facebook-icon {

    border-style:none;
}






